version: 2.1

# Alias used for caching dependencies. Cache can be cleared by updating vx
aliases:
  - &pnpm-cache-key 'pnpm-packages-v1-{{ checksum "pnpm-lock.yaml" }}'

anchors:
  release: &release # Only run for version tags, dont build branches
    filters:
      tags:
        only: /v.*/
      branches:
        ignore: /.*/

executors:
  node-executor:
    docker:
      - image: cimg/node:24.12
jobs:
  install-dependencies:
    executor: node-executor
    steps:
      - checkout
      - restore_cache:
          name: Restore pnpm Cache
          key: *pnpm-cache-key
      - run:
          name: Install pnpm package manager
          command: sudo npm i pnpm@latest-10 -g
      - run:
          name: Install Dependencies from Lockfile
          command: pnpm install --frozen-lockfile
      - run:
          name: Generate Prisma Client
          command: ENVIRONMENT=dev LOCAL_DATABASE_URL='dummy' pnpm prisma:generate
      - save_cache:
          key: *pnpm-cache-key
          paths:
            - ~/.npm
            - ./node_modules

  lint-ts:
    executor: node-executor
    steps:
      - checkout
      - restore_cache:
          name: Restore pnpm Cache
          key: *pnpm-cache-key
      - run:
          name: Install pnpm package manager
          command: sudo npm i pnpm@latest-10 -g
      - run:
          name: Install Dependencies (in case of cache miss)
          command: pnpm install --frozen-lockfile
      - run:
          name: Check Formatting with Prettier
          command: pnpm run format:check
      - run:
          name: Generate Prisma Client
          command: ENVIRONMENT=dev LOCAL_DATABASE_URL='dummy' pnpm prisma:generate
      - run:
          name: Run eslint Linter
          command: pnpm run lint

  jest-coverage:
    executor: node-executor
    environment:
      JWT_SECRET: 'jwt-secret'
      LOCAL_DATABASE_URL: 'someurl'
    steps:
      - checkout
      - restore_cache:
          name: Restore pnpm Cache
          key: *pnpm-cache-key
      - run:
          name: Install pnpm package manager
          command: sudo npm i pnpm@latest-10 -g
      - run:
          name: Install Dependencies (in case of cache miss)
          command: pnpm install --frozen-lockfile
      - run:
          name: Generate Prisma Client
          command: ENVIRONMENT=dev LOCAL_DATABASE_URL='dummy' pnpm prisma:generate
      - run:
          name: Run Jest tests with coverage
          command: pnpm test:cov

  railway-redeploy-stag:
    executor: node-executor
    steps:
      - run:
          name: Install railway cli
          command: npm i -g @railway/cli
      - run:
          name: Redeploy Railway
          command: |
            railway redeploy \
              --service $RAILWAY_SERVICE_ID \
              --environment $RAILWAY_STAGING_ENV_ID \
              -y

  build_and_push_image:
    parameters:
      tag:
        type: string
    docker:
      - image: cimg/base:stable
    environment:
      IMAGE_NAME: ggrant92/edcw-backend
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Docker login
          command: |
            echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
      - run:
          name: Enable buildx container driver
          command: |
            docker buildx create --use --name multiarch || docker buildx use multiarch
      - run:
          name: Build & push image
          command: |
            docker buildx build \
              --build-arg ENVIRONMENT=dev \
              --build-arg DATABASE_URL=postgresql://placeholder:placeholder@localhost:5432/placeholder \
              --platform linux/amd64,linux/arm64 \
              -t "$IMAGE_NAME:<< parameters.tag >>" \
              --push \
              .


  release-job:
    executor: node-executor
    environment:
      ENVIRONMENT: dev
      LOCAL_DATABASE_URL: postgresql://postgres:devpassword@localhost:5432/edc_portal
    steps:
      - run:
          name: Example Release Job
          command: echo 'This job only runs on release tags'

workflows:
  pr: # run on any branch excluding main
    when:
      not:
        matches: { pattern: '^main$', value: << pipeline.git.branch >> }
    jobs:
      - install-dependencies
      - lint-ts:
          requires: [install-dependencies]
      - jest-coverage:
          requires: [install-dependencies]
      - build_and_push_image:
          tag: pr
          requires: [install-dependencies]
      - railway-redeploy-stag:
          requires: [build_and_push_image]

      # - docker-build:
      #     requires: [install-dependencies]

  main: # run only when there is a commit to main
    when:
      matches: { pattern: '^main$', value: << pipeline.git.branch >> }
    jobs:
      - install-dependencies
      - build_and_push_image:
          tag: prod
          requires: [install-dependencies]

  release: # run only when there is a github release
    jobs:
      - install-dependencies
      - build_and_push_image:
          tag: prod
          requires: [install-dependencies]
